
<!-- <span class="material-icons green">face</span> -->


<div>
  <h2>LISTA ALUMNOS</h2>
  <ul *ngFor= "let persona of lista">
    <li *ngIf="persona.rol === 'Alumno' ">
      Nombre: {{persona.nombre}} - Puntos: {{persona.puntuacion}}
      <button (click)="Incrementar(persona.nombre)"><span class="material-icons green">add </span></button>
      <button (click)="Eliminar(persona.nombre)"><span class="material-icons red">delete</span></button>
      <button (click)="Ver(persona.nombre)"><span class="material-icons">remove_red_eye</span></button>
    </li>
  </ul>
  
</div>
<button (click)="Mostrar()">Mostar lista</button>
<button (click)="Ordenarporpuntos()">Ordenar por puntos</button>

<h2>Introducir nuevo Alumno</h2>
<form (ngSubmit)="Pon();">
 <div>
   <label>Nombre:</label>
   <input type="text" name="nombre" placeholder="escribe el nombre" required [(ngModel)]="nombre">
 </div>
 <div>
   <label>Password:</label>
   <input type="text" name="pass" placeholder="escribe el password" required [(ngModel)]="pass">
 </div>
 <div>
   <label>Rol:</label>
   <select  name="rol" required [(ngModel)]="rol">
     <option value="Alumno">Alumno</option>
     <option value="Profesor">Profesor</option>
   </select>
 </div>
 <div>
   <label>Puntos iniciales: </label>
   <input type="number" name="puntos" placeholder="puntos iniciales" required [(ngModel)]="puntos">

 </div>
</form>
 <button (click)="Goback()" >Atras</button>

<!-- <h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div> -->